* { margin: 0; padding: 0; }
body, html { height: 100%;}
body {
	background: rgb(2,0,36);
	background: -moz-linear-gradient(121deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 11%, rgba(37,105,201,1) 43%, rgba(37,80,201,1) 68%, rgba(243,255,0,0.99) 91%, rgba(243,255,0,1) 100%);
	background: -webkit-linear-gradient(121deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 11%, rgba(37,105,201,1) 43%, rgba(37,80,201,1) 68%, rgba(243,255,0,0.99) 91%, rgba(243,255,0,1) 100%);
	background: linear-gradient(121deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 11%, rgba(37,105,201,1) 43%, rgba(37,80,201,1) 68%, rgba(243,255,0,0.99) 91%, rgba(243,255,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#f3ff00",GradientType=1);
}
canvas { 
	transform: scaleX(-1);
	position: relative; 
	width: 100%;
	height: 364px; 
	backdrop-filter: blur(4px);
	background-color: transparent;
/*	mix-blend-mode: color-burn;*/
}
#app-wrapper {
	height: 80%;
	position: relative;
	top: 10%;
}
@media (max-width:575px) {
	
}
@media (min-width:576px) {
	
}
@media (min-width:768px) {
	
}
@media (min-width:992px) {
	canvas { 
		border: 1px solid black;
		height: 424px; 
	}	
}
@media (min-width:1200px) {
	canvas { 
		height: 464px; 
	}	
}
@media (min-width:1800px) {
}

$editorPanelBg: #CCC;
#editorPanel {
	border: 1px solid #DEDEDE;
	background: $editorPanelBg;
	position: relative;
	padding-left: 200px;
	height: 100%;
	ul.tabs {
		list-style-type: none;
		width: 188px;
		position: absolute;
		top: 0;
		left: 0;
		li {
			color: black;
			background: white;
			border-right: black;
			&.selected {
				background: $editorPanelBg;
				border-right: $editorPanelBg;
			}
			a {
				text-decoration: none !important;
			}
		}
	}
	label {
		font-size: 1.25rem;
		font-weight: 500;
		display: block;
	}
	.colorSwatch {
		height: 18px;
		width: 18px;
		border-radius: 25%;
	}
	.partRow {
		label {
			font-size: 1rem;
			font-weight: 400;
		}
	}
}

a {
	cursor: pointer;
	&.arrow-link {
		&::after {
			content: '→';
			display: inline;
			position: relative;
			left: .33rem;
			transition: all .25s;
			font-weight: 300;
		}
		&:hover {
			font-weight: 400;
			text-decoration: underline;
			&::after {
				left: .85rem;
				transition: all .25s;
				font-weight: 700;
			}
		}
	}
	&.arrow-link-back {
		&::before {
			content: '←';
			display: inline;
			margin-right: .33rem;
			transition: all .25s;
			font-weight: 300;
		}
		&:hover {
			font-weight: 400;
			text-decoration: underline;
			&::before {
				transition: all .25s;
				font-weight: 700;
			}
		}
	}
}